// Varibles
$main-font: "Roboto", sans-serif;
$primary-color: #0011a7;
$light-gray: #f8f8f8;
$gradient-text: linear-gradient(to left, #87c7df, #648896);
$text-color: #808080;
$main-font-weight: 300;
$main-color: rgb(11, 16, 51);
$dark-color: rgb(19, 19, 19);
$bgPrimary:  #001b44!important;
$biggestFont: 2.9rem;
$title-size: 1.7rem;
$medium: 1.5rem;
$regular: 1rem;
$tiny: 0.4rem;
$lineHeight: 45px;